@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body
{
	 background: url("../img/bckg_loginpanel.jpeg") no-repeat center center fixed;
	 background-size: cover;
}

#marco
{
	position: relative;
	top: -150px;
	background: rgba(0, 0, 0, .3);
	padding: 5px 20px;
	/* border: #2494A2 10px solid;
        border-radius: 100px; */
	padding: 1em;
	border-radius: 5px;
	width: 600px;
	height: 300px;
	margin: 0 auto;
	margin-top: 300px;
	color: #DBB13B;
}
#Ing
{
	margin-left: 495px;
	margin-top: 12px;
	height:50px;
	width:50px;
	background-color: #ffffff;
	border: #FFF;
	padding: 2px;
}
#Out
{
	height:50px;
	width:50px;
	background-color: #ffffff;
	border: #FFF;
	padding: 2px;
}

#marco #TitLoginPagina
{
	font-size: 30pt;
}

#marco .marcoTagInfo
{
	font-size: 15pt;
    /* font-family: 'Bebas Neue', cursive; */
	font-family: 'Open Sans', sans-serif;
}

input
{
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: solid 2px #DBB13B;
	color: #DBB13B;
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
}


input:focus
{
	outline: 0;
	background-color: rgba(0, 0, 0, 0);
}

button
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	border: solid 2px rgba(0, 0, 0, 0);
	color: #DBB13B;
	background-color: rgba(0, 0, 0, 0);
	transition: all 300ms;
	margin: 2px;
	padding: 5px;
}

button:hover
{
	border: solid 2px #DBB13B;
}
