
body{
	 background-image: url("../img/FondoLogin.jpg");
	 background-repeat: no-repeat;
	 background-size: auto;
	 background-position: center;
	 /* <p>Ingrese sus datos para iniciar sesion</p>
	     <p>Ingrese su Usuario <input type="text" name="txtUsuario"></p>
	     <p>Ingrese su clave <input type="text" name="txtClave"></p>
    <p><button onclick= "Login(txtUsuario.value,txtClave.value)">Ingresar</button></p> */
}

#marco
{
	background: #ffffff;
	padding: 5px 20px;
	border: PowderBlue 10px solid;
        border-radius: 100px;
	padding: 1em;
	border-radius: 5px;
	width: 600px;
	height: 300px;
	margin: 0 auto;
	margin-top: 300px;
}
#Ing
{
	margin-left: 495px;
	margin-top: 12px;
	background-image:url("../Img/accept.png");
	background-repeat:no-repeat;
	height:50px;
	width:50px;
	background-position:center;
	background-size: cover;
	background-color: #ffffff;
	border: #FFF;
	padding: 2px;
}
#Out
{
	
	background-image:url("../Img/back.png");
	background-repeat:no-repeat;
	height:50px;
	width:50px;
	background-position:center;
	background-size: cover;
	background-color: #ffffff;
	border: #FFF;
	padding: 2px;
}