header{
    width: 100%;
    height: 60px;
    background: #2494A2;
    padding: 10px;
}

table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}

th { 
    background: #56BDA2; }

.odd th, .odd td {
    background: #ccffff;
 }