@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Raleway|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

body
{
    overflow: auto;
}

#SidePanelJT
{
    position: absolute;
    left: 0;
    top: 8%;
    border-radius: 0;
    width: 15%;
    height: 100%;
    background-color: teal;
}

#ContentMenuJT
{
    position: absolute;
    top: 8%;
    left: 0%;
    width: 100%;
    height: 92%;
    border-radius: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow: scroll;
}

#Navbar
{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 8%;
    background-color: #0A0E29;
}

#Navbar ul
{
    height: 100%;
}

#Navbar a
{
    text-align: center;
    height: 100%;
    color: #DBB13B;
    font-weight: 600;
}

#Navbar .dropdown-item
{
    color: #0A0E29;
    font-weight: 600;
}

.nav-tabs
{
    float: right;
}

.display-4
{
    text-align: center;
}

#ContentMenuJT .JTContenido
{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    position: absolute;
    color: black;
    width: 95%;
    overflow: scroll;
    height: 100%;
}

#CMDisplayAjustes
{
    overflow-y: scroll;
    height: 100%;
    opacity: 0;
}

#CMDisplayAjustes input
{
    color: #0A0E29;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 5px;
}

#CMDisplayReserv
{
    opacity: 0;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    text-align: center;
}

/* #CMDDisplayReserv h1 
{
} */

#CMDisplayReserv input
{
    color: #0A0E29;
    background-color: rgba(0, 0, 0, 0);
    /* border: solid 2px #0A0E29; */
    margin-bottom: 5px;
}

#CMDDelete
{
    position: absolute;
    top: 22.7%;
    overflow-y: scroll;
    height: 100%;
    opacity: 0;
}

/* #ReservDivBody
{
    opacity: 0;
} */

#ContentMenuJT .diagonal {
	position: relative;
	color: #0A0E29;
	border: solid 2px #0A0E29;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	z-index: 1;
	width: 30%;
	/* left: 5%; */
	padding: 5px;
  }
  
 #ContentMenuJT .diagonal:after {
	content: "";
	position: absolute;
	top: 0;
	left: 27px;
	width: 500%;
	height: 1000%;
	background: #0A0E29;
	z-index: -1;
	transform-origin: 0% 0%;
	transform: translateX(calc(20% - 25px)) translateY(10%) rotate(-45deg);
	transform: translateY(10%) translateX(16%) rotate(-45deg);
	transition: transform .3s;
  }
  #ContentMenuJT .diagonal:hover
  {
	  color: white;
  }
  
  #ContentMenuJT .diagonal:hover::after {
	transform: translateY(5%) translateX(-60px) rotate(-45deg);
  }

  #ContentMenuJT .AjustesGenForm
  {
      position: relative;
      width: 50%;
      left: 25%;
  }

  #CMDDelete h1
  {
      font-family: 'Montserrat', sans-serif;
  }

  .secondarybtn
  {
    /* font-family: 'Abril Fatface', cursive!important; */
    font-family: 'Bree Serif', serif!important;
    font-size: 14pt!important;
    
  }