@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');




body
{
    scroll-behavior: smooth;
    /* overflow: auto; */
}

#NavBar
{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #0A0E29;
    border-bottom: solid 1px black;
    height: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#NavBar ul li
{
    float: left;
    list-style: none;
    color: #DBB13B;
    margin: 5px;
    /* margin-right: 5px; */
    padding: 5px;
    font-size: 18pt;
    font-family: 'Oswald', sans-serif;
}

.RightSideTxt
{
    float: right!important;
}

#TravelImgDiv
{
    background: url('../img/travel_reserv_bckg.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-top: 100px;
    border-radius: 0;
    height: 550px;
}

#ReservDiv
{
    display: inline-block;
    text-align: center;
    position: absolute;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
     width: 50%;
    background-color: rgba(48, 75, 120, .8);
}

#ReservDiv h1
{
    text-align: center;
    color: #56BDA2;
    font-family: 'Raleway', sans-serif;
}

#ReservDiv select
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    background-color: rgba(255, 255, 255, .3);
    color: white;
    /* margin-left: 25%;
    margin-right: 25%; */
}

.secinputs
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#ReservDiv select:focus
{
    color: black;
}

#ReservDiv .abc
{
    text-align: center!important;
}

#NinetydegHR 
{
    position: relative;
    top: -155px;
    border-top: solid 1px #C9C9C9;
    transform: rotate(90deg);
    margin-left: 25%;
    z-index: 1;
    width: 350px;
}

#ReservDiv label
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12.5pt;
    color: white;
    margin-top: 10px;
}

#ReservDiv button
{
    border: solid 2px whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    width: 50%;
    /* padding: 5px; */
    color: whitesmoke;
    transition: all 300ms;
}

#ReservDiv button:hover
{
    border: solid 2px #afafaf;
    color: #afafaf;
}

#SideLeft
{
    /* background-color: red; */
    width: 50%;
    float: left;
    padding: 15px;
    border-right: solid 1px #C9C9C9;
}

.STitle
{
    font-size: 36pt!important;
}

#SideRight
{
    float: left;
    width: 50%;
    height: auto;
    padding: 15px;
}

#SideRight p
{
    color: whitesmoke;
    font-size: 15pt;
    font-family: 'Open Sans Condensed', sans-serif;
    /* display: inline-block; */
    text-align: justify;
    vertical-align: middle;
    margin-top: 25%;
    margin-bottom: 15%;
}

#DestinoDetails
{
    position: absolute;
    background-color: #304B78;
    display: block;
    top: 190%;
    border-radius: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

#DestinoDetails h1
{
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#DestinoDetails h3
{
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.continenteSect
{
    color: #DBB13B;
    display: inline-block;
    border: solid 2px #2494A2;
    /* background-color: tomato; */
    padding: 10px;
    width: 100%;

    height: 350px;
    margin-left: 250px;
    overflow-y: scroll;
    margin: 10px;
    
}

#DestinoDetails .continenteSect h3
{
    text-align: center;
}

.card
{
    /* display: inline-block; */
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #2494A2;
    width: 18rem;
    float: left;
    margin: 5px;
    /* height: 350px!important; */
}

.card h5
{
    color: white;
}

.card p
{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#PRAIS
{
    float: left;
    margin-left: 70px;
    width: 50%;
    border: solid 1px whitesmoke;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

#DineroP
{
    color: white;
    margin-left: 2%;
    float: left;
}