@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html
{
    scroll-behavior: smooth;
}

#Navbar
{
    /* background-color: seagreen; */
    /* position: fixed;
    z-index: 3; */
    width: 100%;
    border: none;
}

/* #myNavbar
{
    border: none;
} */

#Navbar:hover
{
    border: none;
}

.nav-tabs
{
    float: left;
}

.nav
{
    width: 100%;
    float: right;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.nav-link
{
    color: white;
    transition: all 300ms;
}

.nav-link:hover
{
    color: #DBB13B;
    border: none;
}

.nav-link:not(:hover)
{
    border: none;
}

.dropdown-menu
{
    /* background-color: #; */
    border: solid 1px #DBB13B;
}

.dropdown-item
{
    color: black;
}

.dropdown-item:hover
{
    background-color: rgba(0, 0, 0, 0);
}

#OptSobNos:hover ~ #A
{
    width: 100%;
    opacity: 1;
}

#OptServ:hover ~ #B
{
    width: 100%;
    opacity: 1;
}

#OptMejLug:hover ~ #C
{
    width: 100%;
    opacity: 1;
}

#OptComent:hover ~ #D
{
    width: 100%;
    opacity: 1;
}

.dropdownHR
{
    margin: 0;
    opacity: 0;
    width: 0%;
    /* margin-left: 25%; */
    transition: all 300ms;
    border: solid 1px black;
}

#BannerDiv
{
    background: url('../img/train.jpg') no-repeat center center fixed;
    background-size: cover;
    border-radius: 0;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#LogoJT
{
    position: relative;
    font-family: 'Acme', sans-serif;
    left: 35%;
    top: 25%;
    text-align: center;
    width: 30%;
    color: #FFECC2;
    padding: 10px;
    font-family: 'Acme', sans-serif;
    border: solid 3px rgba(255,255,255,.4);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0,0,0,.4);
}

#VerMsBtn
{
    position: absolute;
    border: solid 1px white;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,.25);
    padding: 1px;
    left: 35%;
    width: 30%;
    top: 70%;
    height: 12%;
    transition: all 300ms;
}

.fa-caret-right
{
    position: relative;
    top: 10px;
    left: -50px;
    float: right;
    transition: all 300ms;
}

#VerMsBtn:hover .fa-caret-right
{
    transform: rotate(90deg);
}

#InfoJT h1
{
    text-align: center;
}

#VerMsLink
{
    color: white;
    text-decoration: none;
}

#VerMsLink:hover
{
    text-decoration: none;
}

#InfoJT
{
    margin-top: 200px;
    height: 500px;
    color: white;
    background-color: #0A0E29;
    border-radius: 0;
}

.H1Title
{
    font-family: 'Bebas Neue', cursive;
}

.H1Content
{
    font-family: 'Open Sans', sans-serif;
}

#InfoJT .H1SubInfo
{
    text-align: center;
}

.H1SubInfo
{
    color: white;
    /* bottom: 0; */
    font-family: 'Oswald', sans-serif;
    display: inline;
    font-weight: 100;
}

#ServiciosIJT
{
    position: relative;
    top: -35px;
    background-color: #DBB13B;
    border-radius: 0;
    height: 450px;
    text-align: center;
}

#ServiciosIJT .display-4
{
    text-align: center;
    color: white;
}

.card
{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    float: left;
    margin-right: 2.2%;
}

.fas
{
    color: white;
    /* border: solid 2px black; */
}

#Cardcontainer
{
    /* border: solid 2px black; */
    display: block;
    height: 70%;
    padding: 5px;
}

#Cardcontainer .card
{
    background-color: #304B78;
    width: 15rem;
    height: 18rem;
}

#MejoresLugaresJT
{
    position: relative;
    top: -67px;
    border-radius: 0;
    height: 525px;
    background-color: rgba(0, 0, 0, 0);
}

#carousel
{
    position: relative;
    left: 32%;
    height: 341px;
    width: 450px;
}

.carousel-inner
{
    height: 349px;
}

.carousel-item
{
    height: 349px;
}

#CommentariosJT
{
    background-color: #304B78;
    color: white;
    text-align: center;
    border-radius: 0;
    height: 650px;
}